services:
  db:
    image: postgres:16
    container_name: mydb
    restart: always
    environment:
      POSTGRES_USER: erfan
      POSTGRES_PASSWORD: itscorpy
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
